<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ONLINE TRAINEE | Forgot Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/docs/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
  
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>ONLINE</b>TRAINEE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password/User Id</p>

                <form>
                    <div class="input-group mb-3">
                        <select class="form-control" id="type">
                            <option value="">--Select Forgot Type--</option>
                            <option value="1">Forgot User Id</option>
                            <option value="2">Forgot Password</option>

                        </select>

                    </div>
                    <div class="uid" style="display:none">
                        <div class="input-group mb-3">
                            <input type="text" id="uid" class="form-control" placeholder="UserID">
                            <div class="input-group-append ">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" maxlength="12" class="form-control" id="AAdhar" placeholder="AADHAR">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="requestpassord" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="~/onlineExamUI/login">Login</a>
                </p>
                <p class="mb-0">
                    <a href="~/onlineExamUI/Register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/docs/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    
    <script>
        $("#type").on("change", function () {
            if (this.value == 2) {

                $(".uid").css("display", "block");

            }
            else {
                $(".uid").css("display", "none");
            }

        });

        

    </script>
    <script>
        $("#requestpassord").on("click", function () {
            debugger

            $.get("@Url.Content("~/onlineExamUI/forgot")", { Type: $("#type").val(), userid: $("#uid").val(), AAdhar: $("#AAdhar").val() }, function (data) {

                //console.log(data);
                alert(data);

            })

        });
    </script>
</body>
</html>
