
@{
    ViewBag.Title = "QUestionEntry";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var courses = ViewBag.getcourses;
}


@*<h2>QuestionEntry</h2>*@

<link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    span.span3 {
        display: block;
        color: red;
        float: right;
        top: -27px;
        margin: 0 0 0 20px;
        padding: 3px 10px;
        color: #CE5454;
        border-radius: 3px 4px 4px 3px;
        /*background-color: #CE5454;*/
        max-width: 280px;
        position: relative;
        margin-bottom: -20px;
        opacity: 3;
        left: 200px;
    }
</style>


<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Select2 (Default Theme)</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" id="dic">
                        <div class="form-group">
                            <label>Select Course</label><span style="color:red">*</span>
                            <select class="form-control space1" onchange="getquestions()" id="course" style="width: 100%;">
                                <option value="">--Select Course---</option>
                                @foreach (var item in courses)
                                {
                                    <option value="@item.Value">@item.Text</option>

                                }
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group" id="txtqq" style="display:none">
                            <label>Enter Number Of Questions</label><span style="color:red">*</span>
                            <input type="number" id="txtQ" class="form-control space" />
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <input type="button" class="form-control btn-primary" onclick="enterQuest()" value="Submit" />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" id="popup" data-toggle="modal" style="display:none" href="#ignismyModal">open Popup</a>
        <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>*@
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            @*<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">*@
                            <h1 id="popuph1"> Success</h1>
                            <p id="popupp"> </p>
                            <!--<h3 class="cupon-pop">-->@*Your Id: <span>12345</span>*@<!--</h3>-->
                            <button id="btnok" class="close" style="display:none" onclick="Reload()">OK</button>
                            <button id="btnclose" class="close" style="display:none" data-dismiss="modal">OK</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/docs/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/select2/js/select2.full.min.js"></script>
@*<script src="~/docs/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@

<script>
    $(function () {
        //debugger
        $(".space1").select2()

        //Initialize Select2 Elements
        $('.space1').select2({
            theme: 'bootstrap4'
        })
        $('.space').on('keydown', function (e) {
            if (e.which === 32 && e.target.selectionStart === 0) {
                return false;
            }
        });
        $(".space").on("keyup", function () {
            if ($(this).val() != "") {
                $(this).next("span").remove();

                $(this).css('border', '');
            }
            else {

                $(this).next("span").remove();

                $(this).css('border', '1px solid red');

            }
        });
    });

    function getquestions() {
        if ($("#course").val() != "") {
            debugger
            $.get("@Url.Content("getquestins?Courseid=")" + $("#course").val(), function (data) {
              //  alert(data);
                if (data == "") {
                    $("#txtQ").val(0);
                    $("#txtqq").css("display", "block");
                }
                else {
                    $("#txtQ").val(data);
                    $("#txtqq").css("display", "block");
                }
            })



        }
    }

    function enterQuest() {
        if ($("#course").val() != "" && $("#txtQ").val() > 0) {



                //alert();
                $.post("@Url.Content("insertques")", { Courseid: $("#course").val(), NUMBEROSQUETIONS: $("#txtQ").val() }, function (data) {
                    if (data == "1") {
                        $("#popup").click();
                        $("#popuph1").text("Success");
                        $("#popuph1").css("color", "green");
                        $("#popupp").text("Course Registration Completed Successfully...!");
                        $("#btnok").show();
                        $("#btnclose").css("Display", "none");

                    }
                    else {
                        $("#popup").click();
                        $("#popuph1").text("Failed");
                        $("#popuph1").css("color", "red");
                        $("#popupp").text("Something Went Wrong....");
                        $("#btnok").css("Display", "none");
                        $("#btnclose").show();
                    }

                })

        }
        else {
            debugger
            $('#dic input[type=text]').each(function () {
                if ($(this).val() == "") {
                    $(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });
            $('#dic input[type=number]').each(function () {
                if ($(this).val() == "") {
                   // $(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });
            $('#dic select').each(function () {
                debugger
                if ($(this).val() == "") {
                    //$(this).next("span").remove();

                    $(this).css('border', '1px solid red');
                }
            });

            $("#popup").click();
            $("#popuph1").text("Warining..?");
            $("#popuph1").css("color", "Yellow");
            $("#popupp").text("Please Enter All Mandatory fields");
            $("#btnok").css("Display", "none");
            //  $("#btnclose").css("Display", "block");
            $("#btnclose").show();
        }
    }

</script>
<script>
    function Reload() {
        window.location.href = ("NOFQNSENTRY");
    }
</script>

