<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Traine</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/docs/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>ONLINE</b>TRANIEE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form id="quickForm">
                    <div class="input-group mb-3">
                        <input type="text" id="user" class="form-control" placeholder="User name" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="pwd" class="form-control" placeholder="Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="cpwd" placeholder="Confirm password" onkeyup="dd()" required>

                        <div class="input-group-append">

                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>

                            </div>

                        </div>
                    </div>
                    <span style="color:red;" class="ddh" hidden>Password does not Match</span><br />
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="mob" name="mobile" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" placeholder="Mobile.No" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-mobile"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="idd" placeholder="AADHAR NO" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==12) return false;" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" id="register" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

             

                <a href="~/LoginUI/login" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script>
        $("#register").click(function () {
            if ($("#user").val() != "" && $("#email").val() != "" && $("#pwd").val() != "" && $("#cpwd").val() != "" && $("#mob").val() != "" && $("#idd").val() != "") {
                if ($("#pwd").val() == $("#cpwd").val()) {
                    var object = {
                        FIRSTNAME: $("#user").val(),
                        LASTNAME: $("#idd").val(),
                        PASSWORD: $("#pwd").val(),
                        CONFORMPASSWORD: $("#cpwd").val(),
                        EMAILID: $("#email").val(),
                        MOBILENUMBER: $("#mob").val(),

                    }
                    var json = JSON.stringify(object);


                    $.ajax({
                        type: "POST",
                        url: "createUserpost",
                        data: json,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            alert(data.FIRSTNAME)
                            $.post("@Url.Content("user?userid=")" + data.FIRSTNAME, function () {
                                window.location.href=("getuser");
                            });
                           
                           
                          //  console.log(data);
                           // alert();
                            
                        }
                        
                    });
                }


            }
            else {
               
            }
           
        });

    </script>
    <script>
        function dd() {

           
        }
    </script>

         


       
    
</body>
</html>

