@model onlineexams.Models.login

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Traine</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/docs/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>ONLINE</b>TRANIEE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                @using (Html.BeginForm())
                {
                      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @*<input type="text" id="Username" class="form-control" placeholder="User name" required>*@
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Enter the User Id" })
                        @*@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                                    <div class="input-group mb-3">
                                        @*<input type="password" id="Password" class="form-control" placeholder="Password" required>*@
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control",@type="Password", @placeholder = "Enter the Password" })
                                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <label>@ViewBag.Error</label>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-4">
                                                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                 }


                <p class="mb-1">
                    <a href="~/onlineExamUI/forgotpassword">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="~/onlineExamUI/Register" class="text-center">Register a new membership</a>
                </p>
            </div> <!-- /.login-card-body -->
        </div>
    </div> <!-- /.login-box --> <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

</body>
</html>
