
@{
    ViewBag.Title = "data";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Greeting Message</title>
</head>
<body>
    <div class="col-md-4" onclick="Redirect()">
        <div class="info-box mb-3 bg-success">
            <span class="info-box-icon"><i class="far fa-comment"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Course Requests</span>
                <span class="info-box-number" id="countrequests">@ViewBag.requests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</body>


</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function Redirect() {
    window.location.href = '@Url.Content("~/onlineExamUI/Courserequests")';
    }
</script>


@*<script>
    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('lblGreetings').innerHTML =
        '<b>' + greet + '</b> and welcome to Online Trainee.......!' 
</script>*@

